Source: com.github.donadigo.eddy
Section: utils
Priority: optional
Maintainer: Adam Bienkowski <donadigos159@gmail.com>
Build-Depends: meson,
               debhelper (>= 9),
               libgranite-dev,
               libpackagekit-glib2-dev,
               libunity-dev,
               libgtk-3-dev,
               libzeitgeist-2.0-dev,
               valac (>= 0.26)

Standards-Version: 3.9.6
Package: com.github.donadigo.eddy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Eddy
 Simple debian package installer
