[Desktop Entry]
Type=Application
Name=Eddy
GenericName=Package Installer
GenericName[pt_BR]=Instalador de Pacotes
Comment=Simple debian package installer
Comment[pt_BR]=Um instalador de pacotes Debian simples
Exec=com.github.donadigo.eddy %U
Icon=com.github.donadigo.eddy
Terminal=false
Categories=System;GTK;
Actions=AboutDialog;
X-GNOME-Gettext-Domain=eddy
X-GNOME-UsesNotifications=true
MimeType=application/x-deb;application/vnd.debian.binary-package;
Keywords=package;apt;dpkg;install;

[Desktop Action AboutDialog]
Exec=xdg-open appstream://com.github.donadigo.eddy.desktop
Name=About Eddy
Name[pt_BR]=Sobre o Eddy
