[Desktop Entry]
Type=Application
Name=Eddy
GenericName=Package Installer
Comment=Simple debian package installer
Exec=com.github.donadigo.eddy %U
Icon=com.github.donadigo.eddy
Terminal=false
Categories=System;GTK;
Actions=AboutDialog;
X-GNOME-Gettext-Domain=eddy
X-GNOME-UsesNotifications=true
MimeType=application/x-deb;application/vnd.debian.binary-package;
Keywords=package;apt;dpkg;install;

[Desktop Action AboutDialog]
Exec=com.github.donadigo.eddy --about
Name=About Eddy